form {
    /* background: red; */
    width: 500px;
    margin: 3rem auto;
    padding: 2rem;
}

form .title {
    padding-bottom: 1rem;
}

form *:not(.controls, input) {
    margin-bottom: 2rem;
}

form label,
form .title {
    border-bottom: 1px solid #dfdfdf;
}

form input {
    background: transparent;
    border: 0;
}

form .controls {
    border-top: 1px solid #dfdfdf;
    padding-top: 1rem;
}